* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 1250px / 2);
    padding-right: calc(50% - 1250px / 2);
}

.top {
    padding-top: 29px;
    padding-bottom: 110px;
    background: #f6f2f2;
}

.top__header {
    background: black;
}

.top__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

.menu__list:hover {
    background: #FF3F40;
}

.menu__list {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.49px;
    text-transform: uppercase;
    color: #E0E0E0;
    padding: 38px 23px 26px;
    display: flex;
}

.menu__list_active {
    background: #FF3F40;
}

.top__info {
    width: 617px;
}

.top__title {
    font-style: italic;
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000;
    width: 617px;
    min-height: 117px;
    padding-bottom: 30px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.first {
    width: 520px;
    margin-bottom: 50px;
}

.top__button {
    width: 227px;
    height: 55px;
    background: #FF2D2D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
}

.top__video {
    width: 553px;
    height: 359px;
    box-shadow: 0 -1px 20px 0 rgb(124, 124, 124);
}

.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    padding-top: 105px;
    padding-bottom: 98px;
    /* border-bottom: 5px solid #ececec;*/
}

.service__content {
    width: 538px;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 50px;
}

.service__button {
    width: 226px;
    height: 55px;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #FF0000;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    letter-spacing: 0.4px;
    color: #FF2D2D;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 64px;
}

.service__info {
    display: flex;
    flex-wrap: wrap;
    width: 610px;
    column-gap: 20px;
    row-gap: 50px;
}

.service__item {
    flex-grow: 1;
    flex-basis: 290px;
}

.service__heading {
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    line-height: 0px;
    letter-spacing: 0.3px;
    color: #000000;
    margin-top: 33px;
    margin-bottom: 13px;
}

.heading_center {
    text-align: center;
    padding-bottom: 28px;

}

.text_width {
    width: 536px;
    margin: auto;
    /* padding-bottom: 33px; */
    text-align: center;
}

.products__line {
    width: 134px;
    height: 5px;
    background: #FF2D2D;
    margin: auto;
    margin-top: 33px; 
}

.products__box {
    padding-top: 86px;
}
.products__links {
    display: flex;
    justify-content: center;
    gap: 64px;

}
.products__link {
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    color: #000000;
    transition: color .3s;
}

.products__link:hover {
    color: #FF2D2D;
}

.products__link_active {
    color: #FF2D2D;
}
.products__contents {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    padding-top: 58px;
    padding-left: calc(50% - 1252px / 2);
    padding-right: calc(50% - 1252px / 2);
}
.products__content {
    display: flex;
}